html {
  height: 100%;
}
body {
  height: 100%;
  padding: 78px 0 0;
  font: 14px "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", Tahoma, Helvetica, Arial, sans-serif;
  background-color: #f4f6f8;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 52px;
  border-bottom: 2px solid #006699;
  background-color: #ffffff;
  box-shadow: 0 0 5px #333333;
}
.header .navbar-default {
  width: 70%;
  margin: 0 auto;
  background-color: #ffffff;
}
.header .navbar-default .navbar-nav li:hover {
  background-color: #006699;
}
.header .navbar-default .navbar-nav li a:hover {
  color: #fff;
}
.header .navbar-fixed-top {
  border: 0;
}
.main {
  width: 68%;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 100px;
}
@media screen and (max-width: 1200px) {
  .main {
    width: 100%;
  }
}
.main-body {
  background-color: #fff;
  border: 1px solid #dddddd;
}
.main-body .post-head {
  padding: 10px 15px;
  background-color: #f6f6f6;
  border-bottom: 1px solid #f0f0f0;
}
.main-body .post-head .title {
  line-height: 15px;
  font-weight: bold;
}
.main-body .post-head .title a {
  color: #555;
}
.main-body .post-head .info {
  height: 26px;
  font-size: 12px;
  line-height: 26px;
}
.main-body .post-head .info .author,
.main-body .post-head .info .date,
.main-body .post-head .info .fun {
  display: inline-block;
}
.single-post {
  padding: 10px 15px;
  border-bottom: 1px solid #f0f0f0;
}
.single-post .post-title {
  display: inline-block;
  padding-right: 10px;
  color: #555;
}
.single-post .post-title:visited {
  color: #c0c0c0;
}
.single-post .post-author,
.single-post .post-date {
  display: inline-block;
  font-size: 12px;
}
.post-body {
  padding: 0 15px 15px;
}
.post-body .body {
  padding-top: 15px;
  color: #555;
  line-height: 26px;
}
.footer {
  width: 100%;
  height: 80px;
  position: relative;
  margin: -80px auto 0 auto;
  padding-top: 5px;
  text-align: center;
  background-color: #555;
  border-top: 5px solid #666;
}
.panel-no-radius {
  border-radius: 0;
}
::selection {
  background-color: #3399cc;
  color: #fff;
}
