<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta charset="UTF-8">
    <title>蜗牛</title>
    {% block css-area %}{% end %}
</head>
<body>
    <div class="header">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">蜗牛</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/posts/new">最新</a>
                        </li>
                        <li>
                            <a href="/posts/hot">最热</a>
                        </li>
                        <li>
                            <a href="/posts/1">整租</a>
                        </li>
                        <li>
                            <a href="/posts/2">合租</a>
                        </li>
                        <li>
                            <a href="/posts/3">短租</a>
                        </li>
                        <li>
                            <a href="/blacklist">黑名单</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/user/login">登录</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% block main %} WoNiu  {% end %}
</body>
<script type="text/javascript" src="/assets/dist/js/dep.js"></script>
<script type="text/javascript" src="/assets/dist/js/app.js"></script>
{% block js-area  %}
{% end %}
</html>
