{% extends "layout.html" %}
{% block css-area %}
{% end %}
{% block main %}
    <div class="main">
        <div class="col-md-8 main-body">
            <div class="row">
                <div class="col-md-12 post-head">
                    <div class="title row">
                        <div class="col-md-12"><a href="javascript:;">{{post.title_display}}</a></div>
                    </div>
                    <div class="info row">
                        <div class="col-sm-12">
                            <a class="author" href="/users/{{ post.author.id }}">{{ post.author.nick }}</a>
                            <span>发布于</span>
                            <span class="text-warning date">{{ post.updated and post.updated or post.created }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 post-body">
                    <div class="body">
                        {{ post.content }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 pull-right main-side"></div>
    </div>
{% end %}
